body {
    color: #000;
    background: #fff;
    background-image: url('/assets/background2.png');
    background-attachment: fixed;
}

header {
    font-size: 64pt;
    font-family: 'Squada One', cursive;
}

#body-container {
    padding-left: 5px;
}

#subheader {
    position: relative;
    font-size: 24pt;
    top: 8%;
    left: 0;
    color: #0a8;
    font-family: 'Over the Rainbow', cursive;
}

#header-photo {
    position: absolute;
    top: 2%;
    left: 550px;
}

#photo {
    height: 175px;
}

#container {
    position: fixed;
    width: 850px;
    left: 0;
    margin-top: 10px;
}

.box {
    position: absolute;
    top: 0;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    /*border-image: url("assets/border.png") 10% 0 10% 0 stretch;*/
}

#about-container {
    left: 0;
    right: 66%;
}

#projects-container {
    left: 33%;
    right: 33%;
}

#contact-container {
    left: 66%;
    right: 0;
}

.box-heading {
    font-size: 32pt;
    font-family: 'Squada One', cursive;
    width: 100%;
}

.box-heading a {
    text-decoration: none;
    color: #000;
}

.box-heading a:hover {
    color: #f10 !important;
}

.box-heading a:visited {
    color: #000;
}

.active {
    color: #f10 !important;
}

.plus {
    font-size: 25pt;
    color: #aaa;
    font-family: 'Open Sans', sans-serif;
    padding-left: 25px;
}

.expanding {
    padding-left: 5px;
    border-left-style: dotted;
    border-left-width: 1px;
    border-left-color: #aaa;
    font-size: 11pt;
    font-family: "Open Sans", sans-serif;
    display: none;
}

.expanding a {
    color: #0a8;
    text-decoration: none;
}

.expanding a:hover {
    color: #f10;
}
