header {
    font-size: 72pt;
    font-family: 'Over the Rainbow', cursive;
}

#container {
    position: fixed;
    float: right;
    width: 75%;
}

.box {
    position: absolute;
    top: 0;
    padding: 5px;
    /*TODO
     * border-image: url("assets/box.png") 100% 1 0 stretch
     */
}

#about-container {
    left: 0;
    right: 66%;
}

#projects-container {
    left: 33%;
    right: 33%;
}

#contact-container {
    left: 66%;
    right: 0;
}

.box-heading {
    font-size: 36pt;
    font-family: 'Squada One', cursive;
    width: 100%;
}

.plus {
    font-size: 40pt;
    font-family: 'Rogue Script', cursive;
    position: absolute;
    right: 0;
}

.expanding {
    font-size: 15pt;
    font-family: "Helvita Neue Light", "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
}
